@charset "UTF-8";

@media screen and (min-width: 600px) {
  header {
    height: 100%;
    width: 25%;
    max-width: 300px;
    background-color: var(--select);
  }

  #profile {
    display: flex;
    flex-direction: column;

    height: 50%;
    width: 100%;
  }

  .profileAsideItems {
    height: 100%;
  }

  #name {
    margin: auto;
    height: 10%;
  }
}
