@charset "UTF-8";

@media screen and (min-width: 600px) {
  :root {
    --background: #1e1e1e;
    --select: #4f4f4f;
  }

  header {
    height: 100%;
    width: 25%;
  }

  #profile {
    display: flex;
    flex-direction: column;

    background-color: var(--select);
    height: 100%;
    width: 100%;
  }

  .profileAsideItems {
    width: 100%;
    height: 50%;
  }

  .bar {
    margin: auto;
    width: 75%;
    border-radius: 10px;
  }

  #name {
    width: 50%;
  }
}
