@media screen and (min-width: 1000px) {
  header {
    height: 100%;
  }

  header > div {
    height: 100%;
    width: 25%;
    max-width: 300px;
    flex-direction: column;
  }

  #pokemon-img {
    padding: 0px;
    width: 100%;
    aspect-ratio: 1;
  }

  #name {
    width: 100%;
    padding: 0px;
    padding-bottom: 25px;
  }

  .side-items {
    width: calc(100% - 30px);
    padding: 15px;
    justify-content: center;
  }
}
