@charset "UTF-8";

@font-face {
  font-family: "Quicksand";
  src: url("../fonts/quicksand.ttf");
}

:root {
  --background: #1e1e1e;
  --selected: #4f4f4f;
}

/* Mobile first. */

* {
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100vw;
  height: 100vh;
}

body {
  font-family: "Quicksand";
  background-color: var(--background);
  color: white;
  font-weight: 600;

  display: flex;
  flex-direction: column;
}

header {
  background-color: var(--selected);

  position: sticky;
  top: 0px;
  z-index: 1000;
}

header > div {
  display: flex;
}

#pokemon-img {
  width: 100px;
  aspect-ratio: 1;
}

.side-items {
  width: 100%;
  display: flex;
  align-items: center;
}

#name {
  width: 35%;
}

#attack {
  background-color: #5a7;
}

#health {
  background-color: #c57;
}

.bar {
  text-align: center;
  width: 85%;
  border-radius: 10px;
}

main {
  width: 100%;
  height: 100%;
}

main > div {
  position: absolute;
  top: 15%;
  right: 50%;

  transform: translateX(50%);
}

.pve-points {
  width: 75px;
  height: 75px;
  background-color: white;
  border-radius: 50%;
  margin: 10px;
}

.pve-points:nth-child(6n + 1) {
  margin-left: 25px;
}

.pve-points:nth-child(6n + 2) {
  margin-left: 50px;
}

.pve-points:nth-child(6n + 3) {
  margin-left: 25px;
}

.pve-points:nth-child(6n + 4) {
  margin-left: -25px;
}

.pve-points:nth-child(6n + 5) {
  margin-left: -50px;
}

.pve-points:nth-child(6n + 6) {
  margin-left: -25px;
}
