@charset "UTF-8";

@font-face {
  font-family: "Quicksand";
  src: url("../fonts/quicksand.ttf") format("truetype");
}

/* Mobile first. */

:root {
  --background: #1e1e1e;
  --select: #4f4f4f;
}

* {
  font-family: "Quicksand";
  padding: 0;
  margin: 0;
}

html,
body {
  display: flex;

  height: 100vh;
  width: 100vw;
  background-color: #1e1e1e;
  color: white;
  font-weight: 500;
}

main {
  width: 100%;
  height: 100%;
}

#profile {
  display: flex;

  background-color: var(--select);
  height: 100px;
}

.profileAsideItems {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  text-align: center;
}

.bar {
  width: 75%;
  border-radius: 10px;
}

#name {
  width: 50%;
}

#attackBar {
  background-color: #d79;
}

#healthBar {
  background-color: #7d9;
}
