@charset "UTF-8";

@font-face {
  font-family: "Quicksand";
  src: url("../fonts/quicksand.ttf");
}

:root {
  --background: #1e1e1e;
  --selected: #4f4f4f;
}

/* Mobile first. */

* {
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100vw;
  height: 100vh;
  font-family: "Quicksand";
  background-color: #1e1e1e;
  color: white;
}

h1 {
  text-align: center;
  font-size: 1.5em;
  width: 100%;

  position: absolute;
  top: 15%;
}

main {
  width: 100%;
  height: 100%;
}

main > div {
  display: flex;
  justify-content: center;
  align-content: flex-start;
  flex-wrap: wrap;

  width: 100%;
  height: 50%;

  position: absolute;
  top: 50%;
  transform: translateY(-35%);
}

.pokemons {
  margin: auto;
  padding: 15px;
  width: 75px;
  height: 75px;
  margin: 15px;
}

.pokemons:hover {
  background-color: var(--selected);
  border-radius: 25px;
  cursor: pointer;
}
